.heading {
    margin-bottom: 2rem;
}

section {
    margin-bottom: 2rem;
}

.card-section {
    display: flex;
}

.card {
    margin-right: 2rem;
    border: 2px solid #b7b7b7;
    padding: 0.5rem;
}

.card-heading {
    font-size: 0.6rem;
}

.card-body {
    margin-left: 7px;
    padding: 12px 0px 12px 0px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 1rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #979797;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.graph-section-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.graph-section {
    width: fit-content;
}

.chart-container {
    width: 850px;
    height: 400px;
}

.chart {
    padding: 2rem;
    border: 2px solid #b7b7b7;
}
